@charset "utf-8";

body {
    background-color: #000000;
    font-family: "Jersey 10", sans-serif;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* セレクトボタンを消す */
.select {
    display: none;
}

h1{
    color: white;
}

.select button {
    font-size: 96px;
    color: white;
    border: none; /* 枠線を消す */
    background: none; /* 背景色を消す（必要なら） */
    cursor: pointer; /* マウスホバーでポインター表示 */
    font-family: "Jersey 10", sans-serif;
}
