@charset "utf-8";

body {
    background-color: #000000;
    font-family: "Jersey 10", sans-serif;
    margin: 0;
    overflow: hidden;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* セレクトボタンを消す */
.select {
    display: none;
}

h1{
    color: white;
}