<!DOCTYPE html>
<html lang="ja">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'rkth_game/css/top.css' %}">
    <link rel="stylesheet" href="{% static 'rtkh_game/css/reset.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel="stylesheet">
</head>

<body>
    <audio id="bgm" src="{% static 'rkth_game/sounds/Home-song.mp3' %}" loop></audio>
    <div class="title-wrap">
        <h1 class="title2">RK</h1>
        <h1 class="title">HideTactics</h1>
    </div>
    <img src="{% static 'rkth_game/images/darkCard.png'%}" alt="darkCard" class="darkCard">

    <button type="button" class="startBtn">Start</button>
    <div class="select">
        <ul>
            <li><button type="button">battle</button></li>
            <li><button type="button">shop</button></li>
            <li><button type="button">option</button></li>
        </ul>
    </div>
    <script src="{% static 'rkth_game/js/top.js'%}"></script>
</body>

</html>