<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'rkth_game/CSS/top.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Jersey+10&display=swap" rel="stylesheet">
</head>

<body>
    <h1>HideTactics</h1>
    <button id="music-btn" class="music-button">music play</button>

    <audio id="bgm" src="{% static 'rkth_game/sounds/menu.song.wav' %}" loop></audio>

    <script>
        const btn = document.getElementById('music-btn');
        const bgm = document.getElementById('bgm');
        let isPlaying = false;

        btn.addEventListener('click', () => {
            if (!isPlaying) {
                bgm.play();
                isPlaying = true;
                btn.textContent = 'stop';
                btn.classList.add('playing');
            } else {
                bgm.pause();
                isPlaying = false;
                btn.textContent = 'music play';
                btn.classList.remove('playing');
            }
        });
    </script>

</html>